
body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
.show_list{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	transform:translateY(-50%);
	background-color:#fff;
	width:100%;
	height:200px;
}
.user_infor{
	height:150px;
	width:100%;
	display:flex;
	justify-content:center;
}
.user_infor .user_img{
	height:130px;
	width:130px;
	border-radius:50%;
	background-color:#c33;
}
.user_infor .user_name{
	height:130px;
	width:auto;
	border-radius:20px
	background-color:green;
	line-height:130px;
	text-align:center;
	font-size:26px;
}
