@font-face{
	font-family:'font2style';
	src:url(../font/font2.ttf);
	font-weight:normal;
	font-style:normal;
}
html,body{
	color:#666;
	font-family:'font2style';
}
.danger{
	color:#c33;
}
h1,h2,h3,h4,h5{
	color:#333;
}
