@font-face{
	font-family:'font2style';
	src:url(../font/font2.ttf);
	font-weight:normal;
	font-style:normal;
}
html,body{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	color:#f0cfae;
	font-size:18px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-x:hidden;
	font-family:'font2style';
}
.iconfont  {
	font-size:20px;
}
body{
	padding-bottom:30px;
}
.code{

}
.details{
	padding-left:10px;
	cursor:pointer;
}
.details > .childp{
	padding-left:15px;
}
.details ::-webkit-details-marker {
	display: none;
}
.details ::-moz-list-bullet {
	font-size: 0;
}
.details .iconfont{
	padding:0 5px;
}
.childp .details{
	padding:0;
}
.details >summary >.icon-wenjian{
	display:inline;
}
.details >summary >.icon-file-b-{
	display:none;
}
.details:not([open])>summary >.icon-wenjian{
	display:none;
}
.details:not([open])>summary >.icon-file-b-{
	display:inline;
}
summary {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	min-height: 40px;
	line-height:35px;
	border-radius:10px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
}
.details summary::after{
	content:'';
}
.details:not([open]) summary::after{
	content:'';
}
.header{
	height:40px;
	width:100%;
	padding:20px;
	text-align:center;
	line-height:40px;
	border-bottom:5px solid #84502f;
}
.footer{
	height:30px;
	width:100%;
	background-color:rgba(0,0,0,.65);
	line-height:30px;
	font-size:12px;
	text-align:center;
	color:#ddd;
	position:fixed;
	bottom:0;
}
.main_content{
	width:100%;
	height:calc(100% - 85px);
	display:flex;
	justify-content:space-between;

}
.left_dic{
	width:300px;
	height:100%;
	border-right:5px #84502f solid;
	padding:10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-x:hidden;
	overflow-y:auto;
}
.right_content{
	width:calc(100% - 300px );
	height:100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow:hidden;
	background-color:#fff;
}
.lan_child{
	min-height:30px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;

}
.lan_child:hover{
	background-image: url(../img/02.png);
	color:#FFE8D8;
}
summary:hover{
	background-image: url(../img/01.png);
	color:#FFE8D8;
}
.lan_active{
	background-image: url(../img/02.png);
	color:#FFE8D8;
}
.lan_child a {
	color:#f0cfae;
	text-decoration: none;
}
