@charset "UTF-8";
.box {
	width: 500px;
	height: 600px;
	margin: 0 auto;
    background-color:#333;
    overflow:hidden;
}
.innerview{
    width:400%;
    height:100%;
    animation:move 12s ease 3s infinite forwards;
}
.innerview:hover{
	animation-play-state: paused; 
	/* animation-play-state: paused | running;  */
}
.img{
    height:100%;
    width:25%;
    display:inline-block;
    float:left;
}
@-webkit-keyframes move {
     0% {
        transform: translate3d(0,0,0);
    }
  
    8% {
        transform: translate3d(-25%,0,0);
    }
    33% {
        transform: translate3d(-25%,0,0);
    }
    41% {
        transform: translate3d(-50%,0,0);
    }
    66% {
        transform: translate3d(-50%,0,0);
    }
    74% {
        transform: translate3d(-75%,0,0);
    }
    99% {
        transform: translate3d(-75%,0,0);
    }
    100% {
        transform: translate3d(-75%,0,0);
    }
}
 